
<div class="question-form">

  <div class="page-number-display">
    Question number {{numCurrentQuestion}} of {{numQuestionsTotal}}
  </div>

  <form>
    <div class="question">
      <h2>{{question.body}}</h2>
    </div>
    <div id="answer-choices">
      {{#each answers}}
      <div class="answer-outer-container">
        <div class="answer">
          <input type="radio" name="selectedAnswer" value="{{this._id}}"/>
          {{this.body}}
        </div>
      </div>
      {{/each}}
    </div>
    <div id="controls">
      <input id="submit-button" type="submit" value="Submit Answer"/>
    </div>
  </form>

</div>

<script src="javascripts/quizForm.js"></script>

